@import "tailwindcss";
@plugin "daisyui" {
	themes: business --default;
}

@import "highlight.js/styles/github-dark.css";
.hljs {
	white-space: pre-wrap;
}

button:focus:not(:focus-visible),
select:focus:not(:focus-visible),
input:focus,
textarea:focus {
	@apply outline-hidden;
}

.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
	@apply font-medium;
}
.comment h1:not(:first-child),
.comment h2:not(:first-child),
.comment h3:not(:first-child) {
	@apply mt-5;
}
.comment h1,
.comment h2,
.comment h3 {
	@apply mb-3 border-b border-neutral-600 pb-1.5;
}
.comment h1 {
	@apply text-2xl;
}
.comment h2 {
	@apply text-xl;
}
.comment h3 {
	@apply text-lg;
}
.comment p:not(:first-child):not(.markdown-alert-title),
.comment img:not(:first-child):not([style*="display: inline-block"]),
.comment ul:not(:first-child),
.comment ol:not(:first-child) {
	@apply mt-3;
}
.comment p:not(:last-child):not(.markdown-alert-title),
.comment img:not(:last-child):not([style*="display: inline-block"]),
.comment ul:not(:last-child),
.comment ol:not(:last-child) {
	@apply mb-3;
}
.comment a {
	@apply cursor-pointer text-blue-400 hover:underline;
}
.comment ul {
	@apply ml-8 list-disc;
}
.comment ol {
	@apply ml-8 list-decimal;
}
.comment blockquote {
	@apply border-l-3 border-neutral-600 pl-3.5 opacity-75;
}

.comment .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}
.comment .markdown-alert {
	padding: 0 1em;
	color: inherit;
	border-left: 0.25em solid #444c56;
}
.comment .markdown-alert:not(:first-child) {
	margin-top: 16px;
}
.comment .markdown-alert:not(:last-child) {
	margin-bottom: 16px;
}
.comment .markdown-alert-title {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
}
.comment .markdown-alert-note {
	border-left-color: #539bf5;
}
.comment .markdown-alert-tip {
	border-left-color: #57ab5a;
}
.comment .markdown-alert-important {
	border-left-color: #986ee2;
}
.comment .markdown-alert-warning {
	border-left-color: #c69026;
}
.comment .markdown-alert-caution {
	border-left-color: #e5534b;
}
.comment .markdown-alert-note > .markdown-alert-title {
	color: #539bf5;
}
.comment .markdown-alert-tip > .markdown-alert-title {
	color: #57ab5a;
}
.comment .markdown-alert-important > .markdown-alert-title {
	color: #986ee2;
}
.comment .markdown-alert-warning > .markdown-alert-title {
	color: #c69026;
}
.comment .markdown-alert-caution > .markdown-alert-title {
	color: #e5534b;
}
